@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    wm HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(155, 245, 222);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
}
main {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(69, 179, 142);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #113B30;
}
#principal {
    text-align: center;
    color: white;
    background-color: rgb(35, 122, 101);
}
h2 {
    color: rgb(35, 122, 101);
}
.basico {
    color: rgb(60, 128, 94);
}
.intermediario {
    color: rgb(128, 121, 60);
}
.avancado {
    color: rgb(128, 60, 60);
}
.destaque {
    background-color: rgba(248, 248, 128, 0.514);
}